In [5]:
from bs4 import BeautifulSoup

In [13]:
html_doc = open('List_of_postal_codes_of_Canada__M.html',encoding='utf-8',errors='ignore')

In [14]:
soup=BeautifulSoup(html_doc,'html.parser')

In [15]:
soup.title

In [22]:
import pandas as pd

In [25]:
dfs = pd.read_html(str(soup.table))

In [26]:
df=dfs[0]

In [32]:
df.head(11)

   Postcode           Borough     Neighbourhood
0       M1A      Not assigned      Not assigned
1       M2A      Not assigned      Not assigned
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Not assigned
8       M8A      Not assigned      Not assigned
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge

In [30]:
df.describe()

       Postcode       Borough Neighbourhood
count       287           287           287
unique      180            12           208
top         M9V  Not assigned  Not assigned
freq          8            77            78